
{% extends "base.html" %}
{% block content %}

<div id="page-wrapper">
            <div class="container-fluid">
                <!-- Page Heading -->
                     <div class="col-lg-12">
                        <h1 class="page-header">
                            Algorithm Bayes {{usr}}
                        </h1>
                        <ol class="breadcrumb">                            
                            <li class="active">
                                <i class="fa fa-desktop"></i> Type Scrypt R Twitter
                            </li>
                        </ol>
                </div>                
                <div class="row">                    
                        <div class="jumbotron">
                            <form  method="POST"  action="{{ url_for('bayes') }}">                          
                                <h3>Busca tu Palabra</h3>
                                <p><input type="text" name="word_search">
                                <input type="submit" value="Realizar Busqueda">
                                <div class="column">
                                </div>
                            </form>
{% if lista %}
                            <div class="page-header">
                                <h3>Cuentas referenciadas a tu palabra</h3>
                            </div>
                            <div class="class=col-lg-3">
                                <label>Users Twiiter</label>
                            <form  method="POST"  action="{{ url_for('TrainigSet') }}">                          
                                    {% for list in lista %}
                                        <div class="post-item">                                          
                                        <div class="radio">
                                        <label>
                                        <input type="radio" name="user" id="id_{{list}}" value="v_{{list}}" checked>@{{list}}
                                        </label>
                                        </div>
                                        </div>                                    
                                    {% endfor %}                                   
                                <input type="submit" value="Selecciona cuenta">
                            </form>
        {% endif %}
                            </div>
                </div><!-- /.row -->
            </div><!-- /.row -->
</div>       <!-- /#page-wrapper -->
{% endblock %}

